{% extends 'web/base.html' %}
{% load static %}
{% block content %}
	<div class="card-deck content-section1" style="">
		{% for video in videos %}
			<a href="{% url 'video-detail' video.id %}" class="mb-4">
				<div class="card bg-dark text-white">
				<video src="{{ video.video.url }}" class="card-img" style="object-fit: cover;" poster="" muted></video>
				<div class="card-img-overlay">
					<h5 class="card-title">{{ video.title }}</h5>
					<p class="card-text"> by {{ video.artist }}</p>
					<p class="card-text">{{ video.date_posted|date:'d F, Y'}}</p>
				</div>
			</div>
			</a>
		{% endfor %}
		
	</div>
	<div class="pagination content-section">
			{% if videos.has_previous %}
				<a class="btn btn-outline-dark mr-2" href="?page={{ videos.previous_page_number }}">Previous</a>
			{% endif %}
			{% for pg in videos.paginator.page_range %}
				{% if videos.number == pg %}
				<a class="btn btn-dark mr-2" href="?page={{ pg }}">{{ pg }}</a>
				{% else %}
				<a class="btn btn-outline-dark mr-2" href="?page={{ pg }}">{{ pg }}</a>
				{% endif %}
			{% endfor %}
			{% if videos.has_next %}
				<a class="btn btn-outline-dark" href="?page={{ videos.next_page_number }}">next</a>
			{% endif %}
		</div>
{% endblock %}